.equipoConteiner{
    height: 100%;
    width: 100%;
}

.equipoPresentacion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartel h2 {
    height: 1vh;
    font-size: 8rem;
}

.cartel p {
    text-align: center;
    margin-top: 25vh;
    width: 25vw;
    font-size: 0.9rem;
}

.equipo{
    margin-top: 15vh;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10vh;
}

.teamMember {
    border-top: 1px solid #dedede;
    height: 15vh;
    display: flex;
    justify-content:end;
    align-items: center;

}

.teamMemberData{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 80vw;
}

.JuanCruz {
    font-size: 2rem;
}

.Ulises {
    font-size: 2rem;
    margin-right: 3vw;
}


.teamMemberBottom {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    height: 15vh;
    display: flex;
    justify-content:end;
    align-items: center;
}

.teamMember p {
    display: flex;
    flex-direction: column;
    height: fit-content;
    
}

.teamMemberBottom p {
    display: flex;
    flex-direction: column;
    height: fit-content;

}

@media screen and (max-width: 991px) {
    .cartel h2 {
        height: 2vh;
        font-size: 5rem;
    }

    .cartel p {
        margin-top: 13vh;
        width: 75vw;
        font-size: 0.9rem;
    }

    .equipo{
        margin-top: 5vh;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 5vh;
    }

    .JuanCruz {
        font-size: 1rem;
    }

    .Ulises {
        font-size: 1rem;
    }

    .teamMemberData p span{
        font-size: 0.8rem;
    }
}