.serviciosConteiner {
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.bg {
    background-color: rgba(0, 0, 0, 0.838);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UXUIConteiner {
    height: 27vh;
    width: 100%;
    background-image: url("/UXUI.png");
    background-position: center;
    background-size: cover;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px 6px black;
}



.FrontEndConteiner{
    height: 27vh;
    width: 100%;
    background-image: url("/front.jpg");
    background-position: center;
    background-size: cover;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 6px black;
}

.BackEndConteiner{
    height: 27vh;
    width: 100%;
    background-image: url("/back.jpg");
    background-position: center;
    background-size: cover;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 6px black;
}