.GaleriaConteiner{
    height: 100vh;
    border: 2px solid red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.proyectosFotos{
    margin-top: 30vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    border: 2px solid green;
}

.proyecto {
    border: 2px solid red;
    height: 45vh;
    width: 400px;
}
