.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.661);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.formContainer {
  display: flex;
  height: 30rem;
  width: 40rem;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}