.homeConteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #b2b2b2;
}

.presentacion {
    height: 100vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 2rem;
    border-left: 6px solid #b2b2b2;
    padding-left: 3vw;
}

.slogan h1 {
    margin: 0;
}

.span {
    transition: 0.2s;
}

.span:hover{
    transition: 0.2s;
    cursor: pointer;
    color: rgb(131, 39, 77);

}

.ilustracion {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.ilustracion img {
    object-fit: cover;
    height: 75vh;
}

@media screen and (max-width: 991px) {
    .slogan {
        width: 80vw;
        align-items: center;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 0vh;
        border-left: none;
        z-index: 1;
    }

    .slogan h1 {
        margin: 0;
        text-shadow: 4px 4px 10px rgb(0, 0, 0);
    }

    .ilustracion {
        position: absolute;
        margin-top: 0vh;
    }

    .ilustracion img {
        height: 50vh;
    }

}